body {
  background: #fff;
}

.container {
  @media (min-width: 1200px) {
    max-width: 1296px;
  }
}

.win {
	color: #1742b8
}

.lose {
	color: #dc3545 
}

.nav {
  .nav-item {
    padding: 0.5rem 0px;
	.nav-link{
		color:gray;
	}
	.active {
	  background: #000 !important;
	  color: #fff !important;
	}
  }
}

.rank{
	background:#007bff
}